body {
  background-color: hsl(235, 21%, 11%);
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
  color: white;
}

#background-image {
  z-index: -1;
  width: 100%;
}

#container {
  display: grid;
  grid-template-areas:
    "header toggle"
    "section section"
    "drag drag";
  grid-gap: 20px 0px;
  background-color: hsl(235, 24%, 19%);
}

header {
  grid-area: header;
  text-align: center;
}

#toggle {
  grid-area: toggle;
  text-align: center;
  /*Test*/
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

#toggle img {
  color: aqua;
}

#create {
  text-align: center;
}

#tasks {
  text-align: center;
}

section {
  grid-area: section;
}

#actions {
  display: flex;
  justify-content: space-between;
}

#actions-filter {
  display: flex;
  justify-content: space-between;
}

#actions-filter li {
  margin: 0px 10px;
  list-style-type: none;
}

#drag {
  grid-area: drag;
  text-align: center;
}
